In [1]:
##universal setting 
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import shapely
from sklearn import preprocessing
import seaborn as sns

In [2]:
# data location
read_location="C:/Selina/Class/(DS_MS)/Capstone/DataSet/"
save_location="C:/Selina/Class/(DS_MS)/Capstone/Result/"
#plot color setting (https://matplotlib.org/3.1.1/gallery/color/colormap_reference.html)
my_cmap=plt.cm.get_cmap("Pastel2")
#for geopandas setting
crs={'init': 'epsg:4326'}

In [3]:
#import data
data_metro=gpd.read_file(read_location+"Subway_Stations.geojson",crs=crs)
data_museum=gpd.read_file(read_location+"Subway_Stations.geojson",crs=crs)

data=pd.read_csv(read_location+"AB_NYC_2019.csv")
print(data.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [4]:
data_metro.head(3)

,name,url,line,objectid,notes,geometry
0,Astor Pl,http://web.mta.info/nyct/service/,4-6-6 Express,1,"4 nights, 6-all times, 6 Express-weekdays AM s...",POINT (-73.99106999861966 40.73005400028978)
1,Canal St,http://web.mta.info/nyct/service/,4-6-6 Express,2,"4 nights, 6-all times, 6 Express-weekdays AM s...",POINT (-74.00019299927328 40.71880300107709)
2,50th St,http://web.mta.info/nyct/service/,1-2,3,"1-all times, 2-nights",POINT (-73.98384899986625 40.76172799961419)

In [5]:
gdf_airbnb= gpd.GeoDataFrame(data.drop(['latitude', 'longitude'], axis=1),crs=crs,
                       geometry=data.apply(lambda row: shapely.geometry.Point((row.longitude, row.latitude)), axis=1))

In [6]:
gdf_airbnb.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,geometry
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,Private room,149,1,9,2018-10-19,0.21,6,365,POINT (-73.97237 40.64749)
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,POINT (-73.98376999999999 40.75362)
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,Private room,150,3,0,NaN,NaN,1,365,POINT (-73.9419 40.80902)

In [7]:
gdf_airbnb["geometry"]
for i ,point in enumerate(gdf_airbnb["geometry"]):
    if i==0:
        print(data_metro.distance(point).min())
        print(i,point)
#data_metro.distance(gdf_airbnb.loc[["geometry"]][0])

0.0047366558694465
0 POINT (-73.97237 40.64749)

In [8]:
data["distance to the nearest metro"]=gdf_airbnb["geometry"].apply(lambda row: data_metro.distance(row).min())

In [9]:
print(data_metro.crs)
print(gdf_airbnb.crs)
data.to_csv(read_location+"AB_NYC_2019_GIS.csv",index=False)

{'init': 'epsg:4326'}
{'init': 'epsg:4326'}

In [10]:
data.describe().to_csv(save_location+"GIS_summary.csv",index=True)
data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,distance to the nearest metro
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327,0.004923
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289,0.009231
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000010
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000,0.002087
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000,0.003239
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000,0.004835
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000,0.240280

In [11]:
#https://gis.stackexchange.com/questions/293310/how-to-use-geoseries-distance-to-get-the-right-answer/293342
#distance by meters
gdf_aibnb_km=gdf_airbnb.to_crs(epsg=3310,inplace=True)
data_metro_km=data_metro.to_crs(epsg=3310,inplace=True)
data_km=data
data_km["distance to the nearest metro"]=gdf_airbnb["geometry"].apply(lambda row: data_metro.distance(row).min())
data_km.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,distance to the nearest metro
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,465.387704
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,93.434732
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,334.408650

In [12]:
print(data_metro.crs)
print(gdf_airbnb.crs)

{'init': 'epsg:3310', 'no_defs': True}
{'init': 'epsg:3310', 'no_defs': True}

In [13]:
data_km.to_csv(read_location+"AB_NYC_2019_GIS_km.csv",index=False)
data_km.describe().to_csv(save_location+"GIS_km_summary.csv",index=True)
data_km.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,distance to the nearest metro
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327,471.873197
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289,845.174836
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.907626
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000,202.666663
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000,314.123081
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000,468.187778
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000,22012.718775